h1  {
    text-align: left;
    font-weight: 700;
}
.other-text {
    text-align: left;
}
.radio-choices {
    width:17px;
    height:17px;
}

.card-margin {
    margin-top:20px;
}

.float-left {
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-search {
    height: 50px;
    font-weight: 700;
}

#Origin {

}
#Destination {

}

/* HomeDiv */
.manila-picture {
    width:100%;
    height: 210px;
}
.baguio-picture {
    width: 100%;
    height: 210px;
}
.zambales-picture {
    width: 100%;
    height: 210px;
}
h2 {
    font-family: "Open Sans";
}
.hovereffect {
    width: 100%;
    height: 82%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background:grey;
}
  
.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
}
  
.hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
  
.hovereffect h4 {
    text-transform: uppercase;
    color:White;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
}
  
.hovereffect h4:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
  
.hovereffect:hover h4:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
  
.hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}
  
.hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* HomeDiv1 */
.title-one-footer {
    text-align: left;
}
.row-one-footer {
    text-align: left;
}

.title-two-footer {
    text-align: left;
}
.row-two-footer {
    text-align: left;
}

.title-three-footer {
    text-align: left;
}
.row-three-footer {
    text-align: left;
}

.title-four-footer {
    text-align: left;
}
.row-four-footer {
    text-align: left;
}

.line {
    border:1px solid black;
}

.title-one-copy {
    text-align: left;
    margin-top:10px;
}
.copy-right {
    text-align: left;
}